<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Photo</title>
  <link rel="stylesheet" href="/stylesheets/basic_theme.css">
</head>

<body>
  <h1>Add New Photo</h1>

  <!-- Form to add a new photo -->
  <div class="form-container">
    <form action="/photos/add" method="post" enctype="multipart/form-data">
      <label for="caption">Caption:</label>
      <input type="text" id="caption" name="caption" required>

      <label for="imageUrl">Image URL:</label>
      <input type="file" id="photoFile" name="photoFile" accept="image/png, image/jpeg" required>

      <button type="submit">Add Photo</button>
    </form>
  </div>
  <div class="user-section">
    <% currentPage = 'profile' %>
    <%- include('../templates/navigation', { loggedInUser, currentPage }) %>
  </div>
</body>

</html>