<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Photo</title>
  <link rel="stylesheet" href="/stylesheets/basic_theme.css">
  <link rel="stylesheet" href="/stylesheets/photo-view.css">
  <script src="/scripts/script.js"></script>
  <script>
    function toggleEditCaption() {
      // Toggle the visibility of the caption and form
      const captionText = document.getElementById('captionText');
      const editCaptionForm = document.getElementById('editCaptionForm');
      
      captionText.style.display = captionText.style.display === 'none' ? 'inline' : 'none';
      editCaptionForm.style.display = editCaptionForm.style.display === 'none' ? 'block' : 'none';
    }
  </script>
</head>

<body>
<div class="content">
  <h1>View Photo</h1>
  <% if (loggedInUser && loggedInUser.username === photo.user.username) { %>
  <form action="/photos/list/<%= photo._id %>/delete" method="post">
    <p class="delete-button-wrapper"><button type="submit" class="delete-button">Delete</button></p>
  </form>
  <% } %>
  <div class="presentation-container">
    <div class="photo-container-view">
      <div class="image-container">
          <img src="<%= photo.imageUrl %>" alt="<%= photo.caption %>">
          <% const hasPetted = loggedInUser ? photo.pets.includes(loggedInUser._id) : false; %>
            <div class="pet-section <%= hasPetted ? 'petted' : '' %>" data-photo-id="<%= photo._id %>" id="pet-section">
              <button class="pet-button">
                <span class="pet-count"><%= photo.pets.length %></span>
                <img src="/images/pet-paw.svg" alt="Pet Icon" class="pet-icon">
              </button>
            </div>
      </div>
      <div class="caption-view">
          <p><%= photo.caption %></p>
      </div>
    </div>

    <!-- Comments Section -->
    <div class="comments-section">
      <h2>Comments</h2>
      <div class="comments-list">
        <% photo.comments.forEach(comment => { %>
          <p><strong><%= comment.user.username %>:</strong> <%= comment.text %></p>
        <% }); %>
      </div>
      <!-- Form to add a new comment -->
      <form action="/photos/list/<%= photo._id %>/add-comment" method="post">
        <label for="commentText">Add Comment:</label>
        <input type="text" id="commentText" name="commentText" required>
        <button type="submit">Add Comment</button>
      </form>
    </div>
  </div>
</div>
  <div class="user-section">
    <% currentPage = 'photo' %>
    <%- include('../templates/navigation', { loggedInUser, currentPage }) %>
  </div>
</body>

</html>