<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Dogs</title>
    <link rel="stylesheet" href="/stylesheets/basic_theme.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <div class="content">
        <h1>Random Dogs</h1>

        <div class="gallery">
            <% photos.forEach(photo => { %>
            <div class="photo-container">
                <div class="image-container">
                    <a href="/photos/list/<%= photo._id %>">
                        <img src="<%= photo.imageUrl %>" alt="<%= photo.caption %>">
                        <div class="caption">
                            <%= photo.caption %>
                        </div>
                    </a>
                    <% const hasPetted = loggedInUser ? photo.pets.includes(loggedInUser._id) : false; %>
                    <div class="pet-section <%= hasPetted ? 'petted' : '' %>" data-photo-id="<%= photo._id %>" id="pet-section">
                        <button class="pet-button">
                            <span class="pet-count"><%= photo.pets.length %></span>
                            <img src="/images/pet-paw.svg" alt="Pet Icon" class="pet-icon">
                        </button>
                    </div>
                </div>
                <div class="user">
                    <a href="/users/profile/<%= photo.user.username %>">
                        <%= photo.user.username %>
                    </a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="user-section">
        <% currentPage = 'home' %>
        <%- include('./templates/navigation', { loggedInUser, currentPage }) %>
    </div>
</body>

</html>
