<nav class="user-navigation">
    <% if (loggedInUser) { %>
        <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a>
        <a href="/users/profile/<%= loggedInUser.username %>" class="<%= currentPage === 'profile' ? 'active' : '' %>"><%= loggedInUser.username %></a>
        <a href="/users/logout">Logout</a>
    <% } else { %>
        <a href="/users/login" class="<%= currentPage === 'login' ? 'active' : '' %>">Login</a>
        <a href="/users/register" class="<%= currentPage === 'register' ? 'active' : '' %>">Register</a>
    <% } %>
</nav>