body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}


.photo-container {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333; 
    opacity: 0; /* Initially hide the caption */
    transition: opacity 0.3s ease; /* Add a smooth transition */
    z-index: 0; /* Ensure the caption is below other elements */
}

.image-container:hover .caption {
    opacity: 1; /* Show the caption when the container is hovered */
}

.user {
    padding: 10px;
    background-color: #eee;
    text-align: center;
}

.user a {
    text-decoration: none;
    color: #3498db; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

.user a:hover {
    color: #e74c3c; 
}

.photo-container a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from the parent container */
}

.pet-button {
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    background: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer;
    position: absolute; /* Change to absolute */
    bottom: 10px; /* Adjust the bottom position */
    right: 10px; /* Adjust the right position */
    display: flex; /* Add display flex */
    align-items: center; /* Center the icon vertically */
}

.pet-count {
    margin-right: 5px; /* Add some space between the icon and count */
    font-weight: bold;
}

.pet-section {
    position: relative;
    z-index: 1; /* Ensure the pet button is above other elements */
}

.pet-section.petted .pet-button .pet-icon {
    filter: invert(62%) sepia(51%) saturate(4827%) hue-rotate(329deg) brightness(100%) contrast(115%);
} 

.pet-section.hovered .pet-button .pet-icon {
    filter: invert(43%) sepia(25%) saturate(960%) hue-rotate(331deg) brightness(95%) contrast(89%);
} 




.user-navigation {
    display: flex;
    justify-content: center;
}

.user-navigation a {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.user-navigation a{
    margin: 0 8px; /* Adjust spacing between links */
}

.user-navigation a:hover,
.user-navigation a.active {
    background-color: #e74c3c;
}

.logout-button {
    background-color: #e74c3c;
}

.logout-button:hover {
    background-color: #c0392b;
}

.login-button {
    background-color: #3498db;
}

.login-button:hover {
    background-color: #2980b9;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}
.content {
    flex: 1; /* Let the content take remaining vertical space */
    overflow-y: auto; /* Allow content to be scrollable if needed */
    margin-bottom: 120px;
}
.user-section {
    background-color: #eee;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1000;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #2980b9;
}