.presentation-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.photo-container-view {
    max-width: 400px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.caption-view {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    width: 100%; /* Make the width 100% to fill the container */
}

.caption-view p {
    margin: 0;
}

.comments-section {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    max-width: 300px;
    height: 100%; /* Set the height of the comment section to 100% */
    flex-grow: 1; /* Allow the comment section to grow and take up available space */
    max-height: 100%;
}

.comments-list {
    max-height: 100%; /* Set the max-height of the comments list to 100% */
    overflow-y: auto;
}

.comments-list p {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}


.delete-button-wrapper {
    text-align: center; /* Center the content horizontally */
    margin-top: 20px; /* Add margin to separate the button from the comments section */
}

.delete-button {
    background-color: #e74c3c; /* Red button color */
    color: #fff; /* White text color */
    padding: 10px 15px; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
}

.delete-button:hover {
    background-color: #c0392b; /* Darker red on hover */
}