.user-info {
    background-color: #fff; /* White background */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding around the content */
    margin: 20px 0; /* Margin to separate from other elements */
    text-align: center; /* Center text horizontally */
}

.user-info h2 {
    color: #333; /* Dark text color for the username */
}

.user-info p {
    color: #555; /* Slightly darker text color for other information */
}

/* Styles for the description section */
#descriptionText {
    margin-bottom: 15px; /* Margin below the description section */
}

.button-add,
.user-info button {
    background-color: #3498db; /* Blue button color */
    color: #fff; /* White text color */
    padding: 10px 15px; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    margin: 20px; 
    text-decoration: none; /* Remove underline from links */
}

.user-info a.button {
    background-color: #e74c3c; /* Red button color */
    color: #fff; /* White text color */
    padding: 10px 15px; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer on hover */
    margin: 10px; /* Margin to separate buttons */
    text-decoration: none; /* Remove underline from links */
}

.button-add:hover,
.user-info button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
.user-info a.button:hover {
    background-color: #c0392b; /* Darker red on hover */
}

#message,
#error {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#message {
    background-color: #2ecc71; /* Green for success */
    color: #fff; /* White text color */
}

#error {
    background-color: #e74c3c; /* Red for error */
    color: #fff; /* White text color */
}

.add-wrapper {
    text-align: center;
}