<!-- views/users/change-password.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
  <link rel="stylesheet" href="/stylesheets/basic_theme.css">
  <link rel="stylesheet" href="/stylesheets/user-profile.css">
  <script>
    function validatePassword() {
      var newPassword = document.getElementById("newPassword").value;
      var confirmNewPassword = document.getElementById("confirmNewPassword").value;

      if (newPassword !== confirmNewPassword) {
        alert("New Password and Confirm New Password must match");
        return false;
      }
      return true;
    }
  </script>
</head>

<body>
  <h1>Change Password</h1>
  <div class = "form-container">
    <form action="/users/change-password" method="post" onsubmit="return validatePassword()">
      <label for="currentPassword">Current Password:</label>
      <input type="password" id="currentPassword" name="currentPassword" required>

      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>

      <label for="confirmNewPassword">Confirm New Password:</label>
      <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>

      <button type="submit">Change Password</button>
      <% if (typeof message !== 'undefined') { %>
        <p id="message"><%= message %></p>
      <% } %>
      <% if (typeof error !== 'undefined') { %>
        <p id="error"><%= error %></p>
      <% } %>
    </form>
  </div>
  <div class="user-section">
    <% currentPage = 'profile' %>
    <%- include('../templates/navigation', { loggedInUser, currentPage }) %>
  </div>
</body>

</html>