<!-- views/users/register.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
  <link rel="stylesheet" href="/stylesheets/basic_theme.css">
</head>

<body>
  <h1>User Registration</h1>
  <div class = "form-container">
    <form action="/users/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Register</button>
    </form>
  </div>
  <div class="user-section">
    <% currentPage = 'register' %>
    <%- include('../templates/navigation', { loggedInUser, currentPage }) %>
  </div>
</body>

</html>