<!-- views/users/user-profile.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/stylesheets/basic_theme.css">
  <link rel="stylesheet" href="/stylesheets/user-profile.css">
  <script src="/scripts/script.js"></script>
  <script>
    function toggleEditMode() {
      // Toggle the visibility of the description and form
      const descriptionText = document.getElementById('descriptionText');
      const editForm = document.getElementById('editForm');
      
      descriptionText.style.display = descriptionText.style.display === 'none' ? 'inline' : 'none';
      editForm.style.display = editForm.style.display === 'none' ? 'block' : 'none';
    }
  </script>
</head>

<body>
  <h1>User Profile</h1>
  <div class="content">
    <!-- Display user profile information -->
    <div class="user-info">
      <h2><%= userProfile.username %></h2>

      <% if (loggedInUser && loggedInUser.username === userProfile.username) { %>
        <!-- Display email and edit buttons for the logged-in user -->
        <p>Email: <%= userProfile.email %></p>
        
        <!-- Read-only mode: Display description and edit button -->
        <div id="descriptionText">
          <p><%= userProfile.description %></p>
          <button onclick="toggleEditMode()">Edit Description</button>
        </div>
        <!-- Edit mode: Display editable form -->
        <form id="editForm" action="/users/change-description" method="post" style="display: none;">
          <textarea id="newDescription" name="newDescription" rows="4" cols="50" required><%= userProfile.description %></textarea><br/>
          <button type="submit">Save Description</button>
        </form>
        <a href="/users/change-password" class="button">Change Password</a>
      <% } else { %>
        <!-- Display only username and description for other users -->
        <p><%= userProfile.description %></p>
      <% } %>
    </div>
    <p class="add-wrapper"><a href="/photos/add" class="button-add">Dodaj zdjecie</a></p>
    <div class="gallery">
      <% userPhotos.forEach(photo => { %>
      <div class="photo-container">
          <div class="image-container">
              <a href="/photos/list/<%= photo._id %>">
                  <img src="<%= photo.imageUrl %>" alt="<%= photo.caption %>">
                  <div class="caption">
                      <%= photo.caption %>
                  </div>
              </a>
              <% const hasPetted = loggedInUser ? photo.pets.includes(loggedInUser._id) : false; %>
              <div class="pet-section <%= hasPetted ? 'petted' : '' %>" data-photo-id="<%= photo._id %>" id="pet-section">
                  <button class="pet-button">
                      <span class="pet-count"><%= photo.pets.length %></span>
                      <img src="/images/pet-paw.svg" alt="Pet Icon" class="pet-icon">
                  </button>
              </div>
          </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="user-section">
    <% currentPage = 'profile' %>
    <%- include('../templates/navigation', { loggedInUser, currentPage }) %>
  </div>
</body>

</html>